name: 100 Days of Python CI

on:
  push:
    branches:
      - "**"

jobs:
  python-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install tools
        run: |
          pip install flake8

      - name: Syntax check all python files
        run: |
          python -m compileall .

      - name: Lint python files
        run: |
          flake8 . --ignore=E501
